* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}


main {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-around;
    

}

.view-control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    
}


.top-icons {
    display: flex;
    height: 30px;
    margin-right: 6px;
    background-color: rgba(211, 211, 211, 0.754) ;
    color:black;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px; 
    justify-content: space-around;
}

.doppia {
    width: 150px;
    height: 30px;
}

.room {
    background-color: black;
    width: 90%;
    height:70vh ;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    
}

.user-preview {

    height: 108px;
    width: 180px;
    margin-top: 7px;
    
}

.relative{
    position: relative;
}

.middle-icons {
    position:absolute;
    padding:3px;
    bottom:3px;
    left:0;
    display: flex;
    color:white;
    background-color: rgba(32, 32, 32, 0.764);
}

.video {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    height: 70px;
    align-items: center;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    margin-top: 5px;
    
}

.bottomleft {
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: white;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    color:white;

}

.bottomcenter {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.bottomright {
    padding:0 20px;
    background-color: #ffffff41;
    display: flex;
    height: 100%;
    align-items: center;
    color:red;
}

.green {
    color:green
}